@font-face {
  font-family: Playfair Display;
  src: url(font/PlayfairDisplay-Bold.ttf);
}

@font-face {
  font-family: Lato;
  src: url(font/Lato-Regular.ttf);
}

.main1 {
  text-align: center;
  width: 100%;
  height: 750px;
  font-family: "Lato";
}

.main1-values {
  padding: 120px 198px 220px 198px;
}

.card {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 72px;
}

.gambar-card {
  display: inline-block;
  background-color: #edf0ff;
  border-radius: 12px;
  width: 100px;
  height: 100px;
  margin-bottom: 32px;
}

.gambar-card img {
  margin: 31.33px 24.33px;
}

#middle {
  margin: 26.67px;
}

.middle-card {
  background-color: #dffff2;
}

.right-card {
  background-color: #fff6de;
}

#right {
  margin: 27.83px 26.66px 27.83px 26.67px;
}

.card-values {
  width: 300px;
  height: 241px;
  display: block;
}

.judul {
  margin-bottom: 80px;
}

.judul h1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #f24900;
  font-style: normal;
}

.judul h3 {
  margin-top: 12px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  line-height: 53px;
  color: #333333;
  font-size: 40px;
}

.deskripsi-card h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  font-style: normal;
  color: #333333;
  display: inline;
  margin-top: 32px;
}

.deskripsi-card p {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 32px;
  font-style: normal;
  color: #8b8b8b;
  display: inline-block;
  margin-top: 16px;
}

/* Smartphone View */
@media (max-width: 767px) {
  .main1 {
    height: 1000px !important;
  }

  .main1-values {
    padding: 60px 99px 110px 99px;
  }

  .card {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0px;
  }

  .judul h1 {
    font-size: 14px;
  }

  .judul h3 {
    margin-top: -10px;
    font-size: 28px;
  }

  .gambar-card {
    width: 75px;
    height: 75px;
    margin-bottom: 15px;
  }

  .gambar-card img {
    width: 50%;
    margin: 24px 19px;
  }

  #middle {
    margin: 18px 21px;
  }

  #right {
    margin: 20px 20px;
  }

  .deskripsi-card h4 {
    font-size: 12px;
  }

  .deskripsi-card p {
    font-size: 12px;
  }
}

/* Tablet View */
@media (max-width: 1199px) {
  .main1 {
    height: 600px;
  }

  .main1-values {
    padding: 60px 99px 110px 99px;
  }

  .card {
    flex-direction: row;
    margin-top: -50px;
  }

  .judul h1 {
    font-size: 12px;
  }

  .judul h3 {
    margin-top: -10px;
    font-size: 28px;
  }

  .deskripsi-card h4 {
    font-size: 20px;
  }

  .deskripsi-card p {
    font-size: 14px;
  }
}

/* main 2 */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #e5e5e5;
  }
  
  .container {
    padding-inline: 170px;
    margin: 0 auto;
  }
  
  #main-2 {
    margin: 80px 0;
  }
  
  .heading-1 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #f24900;
    text-align: center;
    margin-bottom: 12px;
  }
  
  .heading-2 {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    color: #333333;
    text-align: center;
    margin-bottom: 60px;
  }
  
  .cards {
    display: flex;
    justify-content: space-between;
  }
  
  .card-icon {
    text-align: center;
    position: relative;
    cursor: pointer;
  }
  
  .card-2 img {
    border-radius: 10px;
    width: 330px;
    height: 460px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  
  .card-2 .city {
    position: absolute;
    top: 340px;
    width: 100%;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  
    color: #ffffff;
  }
  
  .card-2 p {
    position: absolute;
    top: 370px;
    width: 100%;
  
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    color: #ffffff;
  }
  
  /* responsive */
  @media (max-width: 576px) {
    .container {
      padding-inline: 40px;
    }
  
    .heading-1 {
      font-size: 16px;
    }
    .heading-2 {
      font-size: 32px;
      line-height: 40px;
    }
  
    .cards {
      flex-wrap: wrap;
      justify-content: center;
    }
    .card img {
      width: 250px;
      height: 340px;
      margin-right: 0;
    }
    .card-2 .city {
      top: 240px;
      font-size: 14px;
    }
    .card-2 p {
      top: 260px;
      font-size: 24px;
    }
  }
  
  @media (min-width: 576.1px) and (max-width: 992px) {
    .container {
      padding-inline: 120px;
    }
  
    .heading-1 {
      font-size: 18px;
    }
    .heading-2 {
      font-size: 36px;
    }
  
    .cards {
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .card-2 img {
      width: 300px;
      height: 400px;
    }
    .card-2 .city {
      top: 290px;
      font-size: 15px;
    }
    .card-2 p {
      top: 310px;
      font-size: 26px;
    }
  }
  
  @media (min-width: 992.1px) and (max-width: 1200px) {
    .cards {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
